*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container{
    padding-top: 100px;
}
body{
    text-align: center;
    font-family: verdana, sans-serif;
    line-height: 2;
    background-color: #C0EEE4;
}

.top-cloud{
    position: absolute;
    top: 100px;
    right: 350px;
}
.bottom-cloud{
    position: absolute;
}

h1{
    color: #66BFBF;
    font-size: 60px;
}

.top-container p{
    color: #66BFBF;
    font-size: 35px;
}

h2{
    color: #66BFBF;
    font-size: 30px;
}

a{
    text-decoration: none;
}
.second-container{
    margin: 40px auto ;
}
.second-container img{
    width: 300px;
}

.third-container{
    margin: 40px auto ;
}
.third-container img{
    width: 300px;
}

.fourth-container{
    margin: 40px auto ;
}
.fourth-container img{
    width: 300px;
}

.fifth-container{
    margin: 40px auto ;
}

hr{
    border-style: none;
    height: .5px;
    background-color: black;
}